html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.475;
    height: 100%;
    color: #333;
}
* {
    font-family: 'Open Sans', arial;
    box-sizing: border-box;
}
::after, ::before {
    box-sizing: border-box;
}
a, a:visited {
    color: rgba(136, 176, 75, 1);
    text-decoration: none;
}
a:hover, a:active {
    color: rgba(187, 194, 52, 1);
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    border-bottom: 1px dotted #ccc;
}
h1 {
    font-weight: 100;
    font-size: 1.8em;
    margin: 1em auto 1em auto;
    text-align: center;
}
h2 {
    font-weight: 100;
    font-size: 1.5em;
    margin: 1em 0;
} 
h3 {
    font-weight: 100;
    font-size: 1.3em;
    margin: 0.5em 0;
} 
.content-wrapper {
    margin: 5px auto;
    max-width: 800px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;    
}
.content {
    margin: 1.2em;
    flex: auto;
    display: flex;
    flex-direction: column;    
}
ol, ul {
    margin: 0;
    padding-left: 40px;
}
li, li p {
    margin: 12px 0;
    padding: 0;
}
p {
	margin: 0.5em 0;
}
code, pre {
    background: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
    padding: 1px 4px;
    text-align: left!important;
}
.note {
	padding: 1em 2em;
}
.note-info {
	background: #e1f5fe;
	color: #01579b;
}
.buttons {
	margin: 1em;
	text-align: center;
}
a.button, a.button:visited {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none !important;
	text-align: center;
	background: rgba(136, 176, 75, 1);
	border: none;
	border-radius: 3px;
	box-shadow: none;
	height: 44px;
	min-width: 160px;
	line-height: 44px;
	padding: 0 1.8em;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	transition-property: border, background, color, box-shadow, width, height, font-size;
	-webkit-transition-property: border, background, color, box-shadow, width, height, font-size;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	outline: none;
	overflow: hidden;
}
a.button:hover, a.button:focus {
	background: rgba(187, 194, 52, 1);
}
a.button:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}

footer {
    clear: both;
    position: relative;
    border-top: 1px dotted #ccc;
    min-height: 60px;
    flex: 0 0 auto;
    margin-top: 40px;    
}
.copyright {
    text-align: center;
    color: #aaa;
    line-height: 60px;
	font-size: 0.8em;
}
