@charset "UTF-8";
@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?70475061');
    src: url('../fonts/icons.eot?70475061#iefix') format('embedded-opentype'),
         url('../fonts/icons.woff2?70475061') format('woff2'),
         url('../fonts/icons.woff?70475061') format('woff'),
         url('../fonts/icons.ttf?70475061') format('truetype'),
         url('../fonts/icons.svg?70475061#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    display: inline-block;
    font: normal normal normal 14px/1 icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-play:before { content: '\e800'; }
.icon-logout:before { content: '\e801'; }
.icon-angle-double-left:before { content: '\f100'; }
.icon-angle-double-right:before { content: '\f101'; }
.icon-angle-left:before { content: '\f104'; }
.icon-angle-right:before { content: '\f105'; }
.icon-google:before { content: '\f1a0'; }

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.475;
    height: 100%;
    color: #333;
}
* {
    font-family: 'Open Sans', arial;
    box-sizing: border-box;
}
::after, ::before {
    box-sizing: border-box;
}
a, a:visited {
    color: rgba(136, 176, 75, 1);
    text-decoration: none;
}
a:hover, a:active {
    color: rgba(187, 194, 52, 1);
}
.centered {
    text-align: center;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    border-bottom: 1px dotted #ccc;
    position: relative;
}
h1 {
    font-weight: 100;
    font-size: 1.8em;
    margin: 1em auto 1em auto;
    text-align: center;
}
h1 span {
    display: block;
    font-size: 0.6em;
    opacity: 0.6;
}
h2 {
    font-weight: 100;
    font-size: 1.5em;
    margin: 1em 0;
} 
h3 {
    font-weight: 100;
    font-size: 1.3em;
    margin: 0.5em 0;
}
ul.menu {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    width: 100%;
    padding: 0;
}
ul.menu li {
    display: inline-block;
    margin: 1em 1em;
    padding: 0.3em 0.2em;
}
ul.menu li.menu-item-active {
    border-bottom: 3px solid rgba(136, 176, 75, 1);
}
ul.menu li.menu-item-active a {
    color: rgba(136, 176, 75, 1);
}
.content-wrapper {
    margin: 5px auto;
    max-width: 800px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;    
}
.content-wrapper-wide {
    max-width: 1800px !important;
}
.content {
    margin: 1.2em;
    flex: auto;
    display: table;
}
.content-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
iframe {
    border: 1px dotted #c0c0c0;
}
iframe.full-size {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.invisible {
    display: none;
}
ol, ul {
    margin: 0;
    padding-left: 40px;
}
li, li p {
    margin: 12px 0;
    padding: 0;
}
p {
	margin: 0.5em 0;
}
code, pre {
    background: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
    padding: 1px 4px;
    text-align: left!important;
}
.note {
	padding: 1em 2em;
}
.note-info {
	background: #e1f5fe;
	color: #01579b;
}
.buttons {
	margin: 1em;
	text-align: center;
}
a.button, a.button:visited {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none !important;
	text-align: center;
	background: rgba(136, 176, 75, 1);
	border: none;
	border-radius: 3px;
	box-shadow: none;
	height: 44px;
	min-width: 160px;
	line-height: 44px;
	padding: 0 1.8em;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
	overflow: hidden;
}
a.button:hover, a.button:focus {
	background: rgba(187, 194, 52, 1);
}
a.button:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
a.icon-button, a.icon-button:visited {
	color: rgba(136, 176, 75, 1);
	font-weight: normal;
	font-style: normal;
	text-decoration: none !important;
	text-align: center;
	border: 3px solid rgba(136, 176, 75, 1);
	border-radius: 3px;
	box-shadow: none;
	height: 44px;
	line-height: 38px;
	padding: 0 0.8em;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
	overflow: hidden;
}
a.icon-button:hover, a.icon-button:focus {
	border-color: rgba(187, 194, 52, 1);
    color: rgba(187, 194, 52, 1);
}
a.icon-button:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
a.disconnect-button {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    right: 2em;
}
.images-container {
    overflow: hidden;
    height: auto;
}
.date-container {
    clear: both;
    padding: 1em 0 0.5em 0;
    font-weight: bold;
    color: #666;
}
.date-container span {
    font-weight: normal;
    font-size: 0.8em;
    color: #ccc;
    display: inline-block;
    margin-left: 0.5em;
}
.image-container {
    float: left;
    height: 160px;
    margin: 1px;
    vertical-align: top;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
.image-container a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.image-container a span {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    left: 50%;
    margin-top: -26px;
    margin-left: -26px;
    display: block;
    border: 4px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    font-size: 28px;
    padding-left: 4px;
    color: rgba(255,255,255,0.4);
}
.image-container a:hover span {
    color: rgba(255,255,255,0.5);
    border: 4px solid rgba(255,255,255,0.5);
}
.paginator {
    text-align: right;
    margin: 1em 2em;
}
.paginator-current-page {
    line-height: 32px;
    width: 4em;
    text-align: center;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.icon-paginator, .icon-paginator:visited {
    font-size: 32px;
    color: rgba(136, 176, 75, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none !important;
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
    height: 40px;
    width: 40px;
    line-height: 32px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    overflow: hidden;
}
a.icon-paginator:hover, a.icon-paginator:focus {
	border-color: rgba(187, 194, 52, 1);
    color: rgba(187, 194, 52, 1);
}
a.icon-paginator:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
.icon-paginator-disabled {
    color: #ccc !important;
    cursor: default !important;
}
.users-container {
    text-align: center;
}
a.user-selector, a.user-selector:visited {
    color: rgba(136, 176, 75, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none !important;
    text-align: center;
    border: 3px solid rgba(136, 176, 75, 1);
    border-radius: 3px;
    box-shadow: none;
    height: 44px;
    min-width: 160px;
    line-height: 38px;
    padding: 0 1.8em;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    overflow: hidden;
}
a.user-selector:hover, a.user-selector:focus {
	border-color: rgba(187, 194, 52, 1);
    color: rgba(187, 194, 52, 1);
}
a.user-selector:active {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
#global-message {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999999;
	padding: 1em 1.5em;
	border-radius: 3px;
	font-size: 15px;
	line-height: 1.4;
	vertical-align: middle;
	font-weight: 400;
	box-shadow: 2px 2px 10px -6px #000000;
    cursor: default;
    animation: 0.5s linear 5s 1 forwards hide
}
.global-message-info {
	color: #fff;
	background: #5bc0de;
}
.global-message-success {
	color: #fff;
	background: #5cb85c;
}
.global-message-warning {
	color: #fff;
	background: #d9534f;
}
@keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
footer {
    clear: both;
    position: relative;
    border-top: 1px dotted #ccc;
    min-height: 60px;
    flex: 0 0 auto;
    margin-top: 10px;    
}
.copyright {
    text-align: center;
    color: #aaa;
    line-height: 60px;
	font-size: 0.8em;
}
.page-404 {
    text-align: center;
    color: #ccc;
}
.page-404 h2 {
    font-size: 192px;
    line-height: 192px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 640px) {
    .paginator {
        text-align: center;
    }
    ul.menu {
        width: auto;
    }
}