{% extends "base.html" %}

{% block content_wrapper_class %}content-wrapper-wide{% endblock %}
{% set active_menu_item = 'browser' %}
{% set submenu = True %}
{% set active_submenu_item = 'albums' %}
{% set subheader = user.email + "'s albums" %}
{% set base_url = url_for('user_albums', user_id=user.id) %}

{% block content %}
    {% if albums %}
        {% if total_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
        <div class="albums-container">
            {% for album in albums %}
                <div class="album-container">
                    <div class="album-thumbnail" style="background-image:url({{ url_for('library_thumbnail', user_id=user.id, mediaitem_id=album.mediaitem_id) }});"></div>
                    {{ album.title }}
                    <a href="{{ url_for('user_albumitems', user_id=user.id, album_id=album.id) }}"></a>
                </div>
            {% endfor %}
        </div>
        {% if total_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
        <script>
            init_paginator("{{ base_url }}");
        </script>
    {% else %}
    <div class="users-container">
        <p>No albums found. Seems this user never created backup or albums. ;-)</p>
    </div>
    {% endif %}
{% endblock %}