<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <title>{% block title %}Google Photos Backup{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:100,100italic,300,300italic,400,400italic,600,600italic,700,700italic,800,800italic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            {% if authorized_user %}
            <a class="icon-button disconnect-button" href="{{ url_for('revoke') }}" title="Disconnect from Google Account"><i class="icon icon-logout"></i></a>
            {% endif %}
            <h1>Google Photos Backup{% if authorized_user %}<span>{{ authorized_user.email }}</span>{% endif %}</h1>
        </header>
        <div class="menu">
            <ul>
                <li class="{% if active_menu_item == 'backup' %}menu-item-active{% endif %}"><a href="{{ url_for('index') }}">Create Backup</a></li>
                <li class="{% if active_menu_item == 'browser' %}menu-item-active{% endif %}"><a href="{{ url_for('users') }}">Browse Downloaded Media</a></li>
            </ul>
        </div>
        {% if submenu %}
        <div class="submenu">
            <ul>
                <li class="{% if active_submenu_item == 'mediaitems' %}menu-item-active{% endif %}"><a href="{{ url_for('user_mediaitems', user_id=user.id) }}">Media Items</a></li>
                <li class="{% if active_submenu_item == 'albums' %}menu-item-active{% endif %}"><a href="{{ url_for('user_albums', user_id=user.id) }}">Albums</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="content-wrapper {% block content_wrapper_class %}{% endblock %}">
            {% if subheader %}<h3 class="centered">{{ subheader }}</h3>{% endif %}
            <div class="content">
                <div class="content-inner">
                {% block content %}{% endblock %}
                </div>
           </div>
        </div>
        <footer>
            <div class="copyright">Created with love by Ivan Churakov.</div>
        </footer>
    </div>
    {% if warning %}
    <div id="global-message" class="global-message-warning">{{ warning }}</div>
    {% endif %}
</body>
</html>