{% extends "base.html" %}


{% block content %}
    <p><strong>Google Photos Backup</strong> application interacts with Google Photos on behalf of a
        Google Photos user. For instance, when the application retrieves data about media items from
        a user's Google Photos account, the user authorizes these API requests via the OAuth 2.0 protocol.</p>
    <p>To start using the Google Photos Library API, configure your project by enabling the API via
        the Google API Console and setting up an OAuth 2.0 client ID.</p>
    
    <h3>Enable Google Photos Library API</h3>
    <ol>
        <li>Go to the <a href="https://console.developers.google.com/apis/library" target="_blank">Google API Console</a>.</li>
        <li>From the menu bar, select a project or create a new project.</li>
        <li>Search for "Photos Library API". Select the correct result and click <strong>Enable</strong>.</li>
    </ol>

    <h3>Create OAuth 2.0 client ID</h3>
    <ol>
        <li>Go to the <a href="https://console.developers.google.com/apis/credentials" target="_blank">Credentials page</a>.</li>
        <li>Click <strong>Create credentials > OAuth client ID</strong>.</li>
        <li>Select the <strong>Web application</strong> application type.</li>
        <li>Add <strong>Authorized redirect URIs</strong>: <code>http://localhost:8080/callback</code></li>
        <li>Click <strong>Create</strong> button.</li>
        <li>Once OAuth client created, click <strong>Download JSON</strong> button.</li>
        <li>Rename downloaded file to <code>client_secret.json</code> and place it to
            <code>{{ filepath }}</code>
            <p class="note note-info">
                <strong>Important!</strong> Never share <code>client_secret.json</code> file.
            </p>
        </li>
        <li>Click <strong>Authorize</strong> button below.</li>
    </ol>
    <div class="buttons">
        <a class="button" href="{{ url_for('authorize') }}">Authorize</a>
    </div>
{% endblock %}